extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Users Manger
            small  Show Users
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa.fa-user  Show Users
          // show users
          .well.col-xs-8.col-sm-8.col-md-8.col-lg-8.col-xs-offset-2.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
            .row.user-row
              .col-xs-3.col-sm-2.col-md-1.col-lg-1
                img.img-circle(src='../img/photo50.png', alt='User Pic')
              .col-xs-8.col-sm-9.col-md-10.col-lg-10
                strong #{username.user1}
                br
                span.text-muted User level: Root
              .col-xs-1.col-sm-1.col-md-1.col-lg-1.dropdown-user(data-for='.cyruxx')
                i.glyphicon.glyphicon-chevron-down.text-muted
            .row.user-infos.cyruxx
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title User information
                  .panel-body
                    .row
                      .col-md-3.col-lg-3.hidden-xs.hidden-sm
                        img.img-circle(src='../img/photo100.png', alt='User Pic')
                      .col-xs-2.col-sm-2.hidden-md.hidden-lg
                        img.img-circle(src='../img/photo50.png', alt='User Pic')
                      .col-xs-10.col-sm-10.hidden-md.hidden-lg
                        strong #{username.user1}
                        br
                        dl
                          dt User level:
                          dd Administrator
                          dt Registered since:
                          dd 11/12/2013
                          dt Topics
                          dd 15
                          dt Warnings
                          dd 0
                      .col-md-9.col-lg-9.hidden-xs.hidden-sm
                        strong #{username.user1}
                        br
                        table.table.table-user-information
                          tbody
                            tr
                              td User level:
                              td Root
                            tr
                              td Registered since:
                              td 11/12/2013
                            tr
                              td Topics
                              td 15
                            tr
                              td Warnings
                              td 0
                  .panel-footer
                    button.btn.btn-sm.btn-primary(type='button', data-toggle='tooltip', data-original-title='Send message to user')
                      i.glyphicon.glyphicon-envelope
                    span.pull-right
                      button.btn.btn-sm.btn-warning(type='button', data-toggle='tooltip', data-original-title='Edit this user')
                        i.glyphicon.glyphicon-edit    
                      button.btn.btn-sm.btn-danger(type='button', data-toggle='tooltip', data-original-title='Remove this user')
                        i.glyphicon.glyphicon-remove
            .row.user-row
              .col-xs-3.col-sm-2.col-md-1.col-lg-1
                img.img-circle(src='../img/photo50.png', alt='User Pic')
              .col-xs-8.col-sm-9.col-md-10.col-lg-10
                strong #{username.user2}
                br
                span.text-muted User level: Administrator
              .col-xs-1.col-sm-1.col-md-1.col-lg-1.dropdown-user(data-for='.user2')
                i.glyphicon.glyphicon-chevron-down.text-muted
            .row.user-infos.user2
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title User information
                  .panel-body
                    .row
                      .col-md-3.col-lg-3.hidden-xs.hidden-sm
                        img.img-circle(src='../img/photo100.png', alt='User Pic')
                      .col-xs-2.col-sm-2.hidden-md.hidden-lg
                        img.img-circle(src='../img/photo50.png', alt='User Pic')
                      .col-xs-10.col-sm-10.hidden-md.hidden-lg
                        strong #{username.user2}
                        br
                        dl
                          dt User level:
                          dd Administrator
                          dt Registered since:
                          dd 11/12/2013
                          dt Topics
                          dd 15
                          dt Warnings
                          dd 0
                      .col-md-9.col-lg-9.hidden-xs.hidden-sm
                        strong #{username.user2}
                        br
                        table.table.table-user-information
                          tbody
                            tr
                              td User level:
                              td Administrator
                            tr
                              td Registered since:
                              td 11/12/2013
                            tr
                              td Topics
                              td 15
                            tr
                              td Warnings
                              td 0
                  .panel-footer
                    button.btn.btn-sm.btn-primary(type='button', data-toggle='tooltip', data-original-title='Send message to user')
                      i.glyphicon.glyphicon-envelope
                    span.pull-right
                      button.btn.btn-sm.btn-warning(type='button', data-toggle='tooltip', data-original-title='Edit this user')
                        i.glyphicon.glyphicon-edit
                      button.btn.btn-sm.btn-danger(type='button', data-toggle='tooltip', data-original-title='Remove this user')
                        i.glyphicon.glyphicon-remove
            .row.user-row
              .col-xs-3.col-sm-2.col-md-1.col-lg-1
                img.img-circle(src='../img/photo50.png', alt='User Pic')
              .col-xs-8.col-sm-9.col-md-10.col-lg-10
                strong #{username.user3}
                br
                span.text-muted User level: Regular
              .col-xs-1.col-sm-1.col-md-1.col-lg-1.dropdown-user(data-for='.user3')
                i.glyphicon.glyphicon-chevron-down.text-muted
            .row.user-infos.user3
              .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xs-offset-0.col-sm-offset-0.col-md-offset-1.col-lg-offset-1
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title User information
                  .panel-body
                    .row
                      .col-md-3.col-lg-3.hidden-xs.hidden-sm
                        img.img-circle(src='../img/photo100.png', alt='User Pic')
                      .col-xs-2.col-sm-2.hidden-md.hidden-lg
                        img.img-circle(src='../img/photo50.png', alt='User Pic')
                      .col-xs-10.col-sm-10.hidden-md.hidden-lg
                        strong #{username.user3}
                        br
                        dl
                          dt User level:
                          dd Regular
                          dt Registered since:
                          dd 11/12/2013
                          dt Topics
                          dd 15
                          dt Warnings
                          dd 0
                      .col-md-9.col-lg-9.hidden-xs.hidden-sm
                        strong #{username.user3}
                        br
                        table.table.table-user-information
                          tbody
                            tr
                              td User level:
                              td Regular
                            tr
                              td Registered since:
                              td 11/12/2013
                            tr
                              td Topics
                              td 15
                            tr
                              td Warnings
                              td 0
                  .panel-footer
                    button.btn.btn-sm.btn-primary(type='button', data-toggle='tooltip', data-original-title='Send message to user')
                      i.glyphicon.glyphicon-envelope
                    span.pull-right
                      button.btn.btn-sm.btn-warning(type='button', data-toggle='tooltip', data-original-title='Edit this user')
                        i.glyphicon.glyphicon-edit
                      button.btn.btn-sm.btn-danger(type='button', data-toggle='tooltip', data-original-title='Remove this user')
                        i.glyphicon.glyphicon-remove
                  //- .panel-footer
                  //-   a.btn.btn-sm.btn-primary(data-original-title="Broadcast Message", data-toggle="tooltip", type="button")
                  //-     i.glyphicon.glyphicon-envelope
                  //-   span.pull-right
                  //-     a.btn.btn-sm.btn-warning(href="#", data-original-title="Edit this user", data-toggle="tooltip", type="button")
                  //-       i.glyphicon.glyphicon-edit
                  //-     a.btn.btn-sm.btn-danger(href="#", data-original-title="Remove this user", data-toggle="tooltip", type="button")
                  //-       i.glyphicon.glyphicon-remove             
  script(src='/js/jquery-1.11.2.min.js')  
  script(src='/js/bootstrap.min.js')
  script(src='/js/adminShowUsers.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js') 
   
