extends layout

block dashBord
  - function isEmptyObject(obj) {
  -      var name;
  -      for (name in obj) {
  -        return false;
  -      }
  -      return true;
  -    }
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  locations Manger
            small  Cities
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa  Cities
      - if (isEmptyObject(errors) == false)
          p.errorMessage= "The following errors occurred:"
          ul  
            - each error in errors
              li= error.msg
      .panel.panel-default
            .panel-heading
              .row
                .col-md-3
                  h2.panel-title 
                    strong  List of Citie
                .col-md-5
                  form(role='search')
                    .input-group
                      input.form-control(type='text', placeholder='Search by name')
                      .input-group-btn
                        button.btn.btn-default(type='submit')
                          i.glyphicon.glyphicon-search
                .col-md-2 
                  a.btn.btn-success(href='#newCitie', role='button',data-toggle='modal')
                    span.glyphicon.glyphicon-plus
                    |  Add Citie
                .col-md-2  
                  button.btn.btn-primary
                    i.glyphicon.glyphicon-print
                    |  Print 
            .panel-body
              .table-responsive
                table.table.table-condensed
                  thead
                    tr
                      td
                        strong Name-Ar
                      td.text-center
                        strong Name-En
                      td.text-center
                        strong Edit
                      td.text-right
                        strong Trash 
                  tbody
                    for city in citys
                      tr
                        td #{city.name}
                        td.text-center #{city.name_en}
                        td.text-center
                          button.btn.btn-info.btn-xs(data-value='#{city.idcity}')
                            span.glyphicon.glyphicon-pencil
                        td.text-right 
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',data-value='#{city.idcity}')
                            span.glyphicon.glyphicon-trash      
          #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  p.h1 Sure you want to delete?
                .modal-body
                  p.h2 Are you sure
                  p 
                .modal-footer
                  button#delete.btn.btn-danger(type='button',data-dismiss='modal') Delete
                  button.btn.btn-success(data-dismiss='modal', type='button') Cancel
          #newCitie.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header
                  button.btn.pull-right.btn-danger(data-dismiss='modal', type='button') Cancel
                  button.close(type="button",data-dismiss="modal",aria-hidden="true")
                  h1(style='color:#5cb85c')
                    .glyphicon.glyphicon-plus
                    |  Add Citie
                .row 
                  .col-md-offset-1
                    .modal-body
                      form#form.form-signin(role="form" , action="/addcity", method="post")
                        .row
                          .col-md-6
                              div.form-group
                                lable.h4 Name in Arabic
                                input#nameAn.form-control(type="text",name="name", placeholder="Name in Arabic",autofocus="")
                              div.form-group
                               lable.h4 Name in English
                                 input#nameEn.form-control(type="text",name="name_en", placeholder="Name in English",autofocus="")
                          .col-xs-12.col-md-12
                            div.form-group.text-center
                              button.btn.btn-lg.btn-primary(type="submit") Add  
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/adminRegUsers.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')  
