extends layout
block Dashboard
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        h1  Item Manger
          small  New Item
        ol.breadcrumb
          li
            i.fa.fa-dashboard
            a(href='/adminPage')  Dashboard
          li.active
            i.fa.fa-cart-arrow-down  Item Manger
          li.active
            i.fa  New Item
        //- code start
        form#formNewItem(role="form",name='formNewItem')
          .panel.panel-default
            .panel-heading
              .h3.panel-title Name & Descrption
            .panel-body
              .row
                .col-xs-6.col-md-5.col-md-offset-1
                  .form-group
                    .h5 Item in Arabic
                    input#name.form-control(type="text",name="name", placeholder="Name in Arabic")
                .col-xs-6.col-md-5
                  .form-group      
                    .h5 Item in English
                    input#name_en.form-control(type="text",name="name_en", placeholder="Name in English")
                .col-xs-12.col-md-10.col-md-offset-1
                  .form-group
                    .h5 Descrption
                    textarea#item_desc.form-control(name="item_desc" placeholder="Please enter descrption here..." rows="10")
            .panel-heading
              .h3.panel-title Price & Discount
            .panel-body
              .row
                .col-xs-6.col-md-5.col-md-offset-1
                  .form-group
                    .h5 Price
                    .input-group
                      span.input-group-addon $
                      input#price.form-control(type='text',name="price" ,placeholder="Enter price")
                .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                  .form-group      
                    .h5 Discount State
                    input#discount_flag(type='checkbox', name='discount_flag')
                .col-xs-6.col-md-5.col-md-offset-1
                  .form-group#Hide(style='display:none')
                    .h5 Discount
                    .input-group
                      span.input-group-addon %
                      input#discount.form-control(type="text",name="discount", placeholder="Enter discount")
                .col-xs-6.col-md-5
                  .form-group#Hide1(style='display:none')
                    .h5 Discount Expiration Date
                    .input-group
                      span.input-group-addon 
                       i.fa.fa-calendar
                      input#discount_exp.form-control(type='text', placeholder="Enter exp date")
            
            //- tob ==> type of business 
            .panel-heading
              .h3.panel-title Type of Business
            .panel-body
              .row
                .col-md-8.col-md-offset-2
                  .h4 Select T.O.B.
              .row
                .col-md-5.col-md-offset-2
                  select#validationNoCreate.form-control.selectpicker.show-tick(type="text",name="",data-show-subtext='true',data-size='5',data-live-search='true')
                    option(value="", style='color:grey; display:none;') Please Select T.O.B.
                .col-md-5
                  a.btn.btn-success(href='#newtob', role='button',data-toggle='modal') 
                    i.glyphicon.glyphicon-plus
                    |  New T.O.B.

            //- company select 
            .panel-heading
              .h3.panel-title Company
            .panel-body
              .row
                .col-md-8.col-md-offset-2
                  .h4 Select Company 
              .row
                .col-md-5.col-md-offset-2
                  select#company_idcompany.form-control.selectpicker.show-tick(type="text",name="company_idcompany",data-show-subtext='true',data-size='5',data-live-search='true')
                    option(value="", style='color:grey; display:none;') Please Select Company
                    for company in companys
                      option(value="#{company.idcompany}") #{company.name} 
                .col-md-5
                  a.btn.btn-success(href='#newCompany', role='button',data-toggle='modal') 
                    i.glyphicon.glyphicon-plus
                    |  New Company

            //- genre select 
            .panel-heading
              .h3.panel-title Genre
            .panel-body
              .row
                .col-md-8.col-md-offset-2
                  .h4 Select Genre
              .row
                .col-md-5.col-md-offset-2
                  select#genre_idgenre.form-control.selectpicker.show-tick(type="text",name="genre_idgenre",data-show-subtext='true',data-size='5',data-live-search='true')
                    option(value="", style='color:grey; display:none;') Please Select Genre
                .col-md-5
                  a.btn.btn-success(href='#newGenre', role='button',data-toggle='modal') 
                    i.glyphicon.glyphicon-plus
                    |  New Genre

            //- 
            .panel-heading
              .h3.panel-title Genre & Size
            .panel-body
              .row
                .col-xs-6.col-md-2.col-md-offset-1
                  .form-group      
                    .h5 Size State
                    input#genre_flag(type='checkbox', name='genre_flag')
                .col-xs-5.col-xs-offset-1.col-md-4
                  .form-group#HideGenre(style='display:none')   
                    .h5 Select Genre
                    select#genre_idSize.form-control.selectpicker.show-tick(type="text",name="genre_idSize",data-show-subtext='true',data-size='5',data-live-search='true')
                      option(value="", style='color:grey; display:none;') Please Select Genre
                      option(value="1") S, M, L, XL, XXL, XXXL
                      option(value="2") Small, Mediam, Large
                      option(value="3") 10, 30, ......,45
                  //- .col-xs-12.col-md-12
              .form-group#HideSizeXL(style='display:none')
                .row
                  .col-md-6
                    .checkbox#XS
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | XS
                      .col-md-6.pull-right
                    .checkbox#S
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | S
                      .col-md-6.pull-right
                    .checkbox#M
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | M
                      .col-md-6.pull-right
                    .checkbox#L
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | L
                      .col-md-6.pull-right
                    .checkbox#XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | XL
                      .col-md-6.pull-right
                    .checkbox#XXL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | XXL
                      .col-md-6.pull-right
                  .col-md-6
                    .checkbox#XXXL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | XXXL
                      .col-md-6.pull-right
                    .checkbox#4XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 4XL
                      .col-md-6.pull-right
                    .checkbox#5XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 5XL
                      .col-md-6.pull-right
                    .checkbox#6XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 6XL
                      .col-md-6.pull-right
                    .checkbox#7XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 7XL
                      .col-md-6.pull-right
                    .checkbox#8XL
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 8XL
                      .col-md-6.pull-right



              .form-group#HideSize123(style='display:none')
                .row
                  .col-md-4
                    .checkbox#1
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 1
                      .col-md-6.pull-right
                    .checkbox#2
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 2
                      .col-md-6.pull-right
                    .checkbox#3
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 3
                      .col-md-6.pull-right
                    .checkbox#4
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 4
                      .col-md-6.pull-right
                    .checkbox#5
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 5
                      .col-md-6.pull-right
                    .checkbox#6
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 6
                      .col-md-6.pull-right
                    .checkbox#7
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 7
                      .col-md-6.pull-right
                    .checkbox#8
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 8
                      .col-md-6.pull-right
                    .checkbox#9
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 9
                      .col-md-6.pull-right
                    .checkbox#10
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 10
                      .col-md-6.pull-right
                    .checkbox#11
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 11
                      .col-md-6.pull-right
                    .checkbox#12
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 12
                      .col-md-6.pull-right
                    .checkbox#13
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 13
                      .col-md-6.pull-right
                    .checkbox#14
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 14
                      .col-md-6.pull-right
                    .checkbox#15
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 15
                      .col-md-6.pull-right
                    .checkbox#16
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 16
                      .col-md-6.pull-right
                    .checkbox#17
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 17
                      .col-md-6.pull-right
                    .checkbox#18
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 18
                      .col-md-6.pull-right
                  .col-md-4
                    .checkbox#19
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 19
                      .col-md-6.pull-right
                    .checkbox#20
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 20
                      .col-md-6.pull-right
                    .checkbox#21
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 21
                      .col-md-6.pull-right
                    .checkbox#22
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 22
                      .col-md-6.pull-right
                    .checkbox#23
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 23
                      .col-md-6.pull-right
                    .checkbox#24
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 24
                      .col-md-6.pull-right
                    .checkbox#25
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 25
                      .col-md-6.pull-right
                    .checkbox#26
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 26
                      .col-md-6.pull-right
                    .checkbox#27
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 27
                      .col-md-6.pull-right
                    .checkbox#28
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 28
                      .col-md-6.pull-right
                    .checkbox#29
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 29
                      .col-md-6.pull-right
                    .checkbox#30
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 30
                      .col-md-6.pull-right
                    .checkbox#31
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 31
                      .col-md-6.pull-right
                    .checkbox#32
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 32
                      .col-md-6.pull-right
                    .checkbox#33
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 33
                      .col-md-6.pull-right
                    .checkbox#34
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 34
                      .col-md-6.pull-right
                    .checkbox#35
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 35
                      .col-md-6.pull-right
                    .checkbox#36
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 36
                      .col-md-6.pull-right
                  .col-md-4
                    .checkbox#37
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 37
                      .col-md-6.pull-right
                    .checkbox#38
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 38
                      .col-md-6.pull-right
                    .checkbox#39
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 39
                      .col-md-6.pull-right
                    .checkbox#40
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 40
                      .col-md-6.pull-right
                    .checkbox#41
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 41
                      .col-md-6.pull-right
                    .checkbox#42
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 42
                      .col-md-6.pull-right
                    .checkbox#43
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 43
                      .col-md-6.pull-right
                    .checkbox#44
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 44
                      .col-md-6.pull-right
                    .checkbox#45
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 45
                      .col-md-6.pull-right
                    .checkbox#46
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 46
                      .col-md-6.pull-right
                    .checkbox#47
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 47
                      .col-md-6.pull-right
                    .checkbox#48
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 48
                      .col-md-6.pull-right
                    .checkbox#49
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 49
                      .col-md-6.pull-right
                    .checkbox#50
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 50
                      .col-md-6.pull-right
                    .checkbox#51
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 51
                      .col-md-6.pull-right
                    .checkbox#52
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 52
                      .col-md-6.pull-right
                    .checkbox#53
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 53
                      .col-md-6.pull-right
                    .checkbox#54
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 54
                      .col-md-6.pull-right
                    .checkbox#55
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | 55
                      .col-md-6.pull-right


              .form-group#HideSML(style='display:none')
                .row
                  .col-md-6.col-md-offset-3
                    .checkbox#small
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | Small
                      .col-md-6.pull-right
                    .checkbox#mediam
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | Mediam
                      .col-md-6.pull-right
                    .checkbox#large
                      label(style='font-size: 1.5em')
                        input(type='checkbox', value='', checked=false)
                        span.cr
                          i.cr-icon.fa.fa-check
                        | Large
                      .col-md-6.pull-right



  #newtob.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.close(type="button", data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") × 
          h2
            .glyphicon.glyphicon-plus
            |  New Type of Business
        .row 
          .modal-body
            form#formtob.form-signin(role="form" , action="", method="post")
              .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                .form-group
                  .h4 Name in Arabic
                  input#name.form-control(type="text", name="name", placeholder="Name in Arabic",autofocus="")
              .col-xs-5.col-md-5
                .form-group      
                  .h4 Name in English
                  input#name_en.form-control(type="text", name="name_en", placeholder="Name in English",autofocus="")
        .modal-footer
          button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
          button#save.btn.btn-primary() Save Change 

  #newCompany.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.close(type="button", data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") ×
          h2
            .glyphicon.glyphicon-plus
            |  New Company
        .row 
          .modal-body
            form#formCompany.form-signin(role="form" , action="", method="post")
              .col-xs-6.col-md-6
                .form-group
                  .h4 Name in Arabic     
                  input#name.form-control(type="text",name="name", placeholder="Name in Arabic",autofocus="")
                .form-group
                  .h4 Type of Business
                  select#tob_idtob.form-control(type="text",name="tob_idtob", placeholder="Type of Business",autofocus="")  
                .form-group
                  .h4 logo
                  input#logo(type="file",name="logo", placeholder="logo",autofocus="")
              .col-xs-6.col-md-6
                .form-group
                  .h4 Name in English
                  input#name_en.form-control(type="text",name="name_en", placeholder="Name in English",autofocus="")
                .form-group
                  .h4 level
                  select#level.form-control(type="text",name="level", placeholder="level",autofocus="")    
                    for i in [1,2,3,4,5]
                      option(value="#{i}",data-subtext='#{i}') #{i}   
        .modal-footer
          button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
          button#save.btn.btn-primary() Save Change
  
  #newGenre.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-success
          button.close(type="button", data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") × 
          h2
            .glyphicon.glyphicon-plus
            |  New Genre
        .row 
          .modal-body
            form#formGenre.form-signin(role="form" , action="", method="post")
              .col-xs-5.col-xs-offset-1.col-md-5.col-md-offset-1
                .form-group
                  .h4 Name in Arabic
                  input#name.form-control(type="text", name="name", placeholder="Name in Arabic",autofocus="")
              .col-xs-5.col-md-5
                .form-group      
                  .h4 Name in English
                  input#name_en.form-control(type="text", name="name_en", placeholder="Name in English",autofocus="")
        .modal-footer
          button.btn.btn-danger(data-dismiss='modal', type='button') Cancel
          button.btn.btn-primary(type="submit") Save Change 
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src="/js/newItem.js")
  script(src='/js/helpers.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js')
  script(src="/js/bootstrap-switch.min.js")
  script(src='/js/bootstrap-select.min.js')
  script.
    $("[name='discount_flag']").bootstrapSwitch('state', false);
    $("[name='genre_flag']").bootstrapSwitch('state', false);
    $(document).ready(function(){
      $("[name='discount_flag']").on('switchChange.bootstrapSwitch', function (e, data) {
        var state=$(this).bootstrapSwitch('state');
        if(state)
        {
          $("#Hide").show(400); //-.addClass('animated fadeInDown');
          $("#Hide1").show(400);//- .addClass('animated fadeInDown');
        }
        else
        {
          $("#Hide").hide(400);//-.addClass('animated fadeInUp');
          $("#Hide1").hide(400);//- .addClass('animated fadeInUp');
        }
      });
      $("[name='genre_flag']").on('switchChange.bootstrapSwitch', function (e, data) {
        var state=$(this).bootstrapSwitch('state');
        if(state)
        {
          $("#HideGenre").show(400); //-.addClass('animated fadeInDown');
        }
        else
        {
          $("#HideGenre").hide(400);//-.addClass('animated fadeInUp');
        }
      });
      
      $('#genre_idSize').on('change', function () {
        var id = $('#genre_idSize').val();
        if(id == 1) {
          $("#HideSML").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSize123").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSizeXL").show(400); //-.addClass('animated fadeInDown');
        }
        if(id == 2) {
          $("#HideSizeXL").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSize123").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSML").show(400); //-.addClass('animated fadeInDown');
        }
        if(id == 3) {
          $("#HideSizeXL").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSML").hide(400); //-.addClass('animated fadeInDown');
          $("#HideSize123").show(400); //-.addClass('animated fadeInDown');
        }
      });

      //- Start Small Mediam Large
      $('#small :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#small .col-md-6").append("<div class='row'><div id='SQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='Small' type='text'></div></div>")
        } else {
            $("#small #SQuantity").remove();
        }
      });

      $('#mediam :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#mediam .col-md-6").append("<div class='row'><div id='MQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='Mediam' type='text'></div></div>")
        } else {
            $("#mediam #MQuantity").remove();
        }
      });

      $('#large :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#large .col-md-6").append("<div class='row'><div id='LQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='Large' type='text'></div></div>")
        } else {
            $("#large #LQuantity").remove();
        }
      });
      //- End Small Mediam Large

      //- Start XS  S  M L XL XXL XXXL  4XL  5XL   
      $('#XS :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#XS .col-md-6").append("<div class='row'><div id='XSQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='XS' type='text'></div></div>")
        } else {
            $("#XS #XSQuantity").remove();
        }
      });

      $('#S :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#S .col-md-6").append("<div class='row'><div id='SQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='S' type='text'></div></div>")
        } else {
            $("#S #SQuantity").remove();
        }
      });

      $('#M :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#M .col-md-6").append("<div class='row'><div id='MQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='M' type='text'></div></div>")
        } else {
            $("#M #MQuantity").remove();
        }
      });

      $('#L :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#L .col-md-6").append("<div class='row'><div id='LQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='L' type='text'></div></div>")
        } else {
            $("#L #XSQuantity").remove();
        }
      });

      $('#XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#XL .col-md-6").append("<div class='row'><div id='XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='XL' type='text'></div></div>")
        } else {
            $("#XL #XLQuantity").remove();
        }
      });

      $('#XXL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#XXL .col-md-6").append("<div class='row'><div id='XXLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='XXL' type='text'></div></div>")
        } else {
            $("#XXL #XXLQuantity").remove();
        }
      });

      $('#XXXL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#XXXL .col-md-6").append("<div class='row'><div id='XXXLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='XXXL' type='text'></div></div>")
        } else {
            $("#XXXL #XXXLQuantity").remove();
        }
      });

      $('#4XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#4XL .col-md-6").append("<div class='row'><div id='4XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='4XL' type='text'></div></div>")
        } else {
            $("#4XL #4XLQuantity").remove();
        }
      });

      $('#5XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#5XL .col-md-6").append("<div class='row'><div id='5XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='5XL' type='text'></div></div>")
        } else {
            $("#5XL #5XLQuantity").remove();
        }
      });

      $('#6XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#6XL .col-md-6").append("<div class='row'><div id='6XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='6XL' type='text'></div></div>")
        } else {
            $("#6XL #6XLQuantity").remove();
        }
      });

      $('#7XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#7XL .col-md-6").append("<div class='row'><div id='7XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='7XL' type='text'></div></div>")
        } else {
            $("#7XL #7XLQuantity").remove();
        }
      });

      $('#8XL :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#8XL .col-md-6").append("<div class='row'><div id='8XLQuantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#8XL #8XLQuantity").remove();
        }
      });


      //- End XS  S  M L XL XXL XXXL  4XL  5XL 




      //- Start 1   2  3   4  5    6   7  ..... 50
      $('#1 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#1 .col-md-6").append("<div class='row'><div id='1Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='XS' type='text'></div></div>")
        } else {
            $("#1 #1Quantity").remove();
        }
      });

      $('#2 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#2 .col-md-6").append("<div class='row'><div id='2Quantity' ><input class='form-control' placeholder='S' type='text'></div></div>")
        } else {
            $("#2 #2Quantity").remove();
        }
      });

      $('#3 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#3 .col-md-6").append("<div class='row'><div id='3Quantity' ><input class='form-control' placeholder='M' type='text'></div></div>")
        } else {
            $("#3 #3Quantity").remove();
        }
      });

      $('#4 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#4 .col-md-6").append("<div class='row'><div id='4Quantity' ><input class='form-control' placeholder='L' type='text'></div></div>")
        } else {
            $("#4 #4Quantity").remove();
        }
      });

      $('#5 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#5 .col-md-6").append("<div class='row'><div id='5Quantity' ><input class='form-control' placeholder='XL' type='text'></div></div>")
        } else {
            $("#5 #5Quantity").remove();
        }
      });

      $('#6 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#6 .col-md-6").append("<div class='row'><div id='6Quantity' ><input class='form-control' placeholder='XXL' type='text'></div></div>")
        } else {
            $("#6 #6Quantity").remove();
        }
      });

      $('#7 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#7 .col-md-6").append("<div class='row'><div id='7Quantity' ><input class='form-control' placeholder='XXXL' type='text'></div></div>")
        } else {
            $("#7 #7Quantity").remove();
        }
      });

      $('#8 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#8 .col-md-6").append("<div class='row'><div id='8Quantity' ><input class='form-control' placeholder='5XL' type='text'></div></div>")
        } else {
            $("#8 #8Quantity").remove();
        }
      });

      $('#9 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#9 .col-md-6").append("<div class='row'><div id='9Quantity' ><input class='form-control' placeholder='6XL' type='text'></div></div>")
        } else {
            $("#9 #9Quantity").remove();
        }
      });

      $('#10 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#10 .col-md-6").append("<div class='row'><div id='10Quantity' ><input class='form-control' placeholder='7XL' type='text'></div></div>")
        } else {
            $("#10 #10Quantity").remove();
        }
      });

      $('#11 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#11 .col-md-6").append("<div class='row'><div id='8XLQuantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#11 #8XLQuantity").remove();
        }
      });

      
      
      $('#12 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#12 .col-md-6").append("<div class='row'><div id='12Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#12 #12Quantity").remove();
        }
      });

      $('#13 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#13 .col-md-6").append("<div class='row'><div id='13Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#13 #13Quantity").remove();
        }
      });

      $('#14 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#14 .col-md-6").append("<div class='row'><div id='14Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#14 #14Quantity").remove();
        }
      });

      $('#15 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#15 .col-md-6").append("<div class='row'><div id='15Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#15 #15Quantity").remove();
        }
      });

      $('#16 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#16 .col-md-6").append("<div class='row'><div id='16Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#16 #16Quantity").remove();
        }
      });

      $('#17 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#17 .col-md-6").append("<div class='row'><div id='17Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#17 #17Quantity").remove();
        }
      });

      $('#18 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#18 .col-md-6").append("<div class='row'><div id='18Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#18 #18Quantity").remove();
        }
      });

      $('#19 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#19 .col-md-6").append("<div class='row'><div id='19Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#19 #19Quantity").remove();
        }
      });

      $('#20 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#20 .col-md-6").append("<div class='row'><div id='20Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#20 #20Quantity").remove();
        }
      });

      $('#21 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#21 .col-md-6").append("<div class='row'><div id='21Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#21 #21Quantity").remove();
        }
      });

      $('#22 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#22 .col-md-6").append("<div class='row'><div id='22Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#22 #22Quantity").remove();
        }
      });

      $('#23 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#23 .col-md-6").append("<div class='row'><div id='23Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#23 #23Quantity").remove();
        }
      });

      $('#24 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#24 .col-md-6").append("<div class='row'><div id='24Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#24 #24Quantity").remove();
        }
      });

      $('#25 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#25 .col-md-6").append("<div class='row'><div id='25Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#25 #25Quantity").remove();
        }
      });

      $('#26 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#26 .col-md-6").append("<div class='row'><div id='26Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#26 #26Quantity").remove();
        }
      });

      $('#27 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#27 .col-md-6").append("<div class='row'><div id='27Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#27 #27Quantity").remove();
        }
      });

      $('#28 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#28 .col-md-6").append("<div class='row'><div id='28Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#28 #28Quantity").remove();
        }
      });

      $('#29 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#29 .col-md-6").append("<div class='row'><div id='29Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#29 #29Quantity").remove();
        }
      });

      $('#30 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#30 .col-md-6").append("<div class='row'><div id='30Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#30 #30Quantity").remove();
        }
      });

      $('#31 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#31 .col-md-6").append("<div class='row'><div id='31Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#31 #31Quantity").remove();
        }
      });

      $('#32 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#32 .col-md-6").append("<div class='row'><div id='32Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#32 #32Quantity").remove();
        }
      });

      $('#33 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#33 .col-md-6").append("<div class='row'><div id='33Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#33 #33Quantity").remove();
        }
      });

      $('#34 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#34 .col-md-6").append("<div class='row'><div id='34Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#34 #34Quantity").remove();
        }
      });

      $('#35 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#35 .col-md-6").append("<div class='row'><div id='35Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#35 #35Quantity").remove();
        }
      });

      $('#36 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#36 .col-md-6").append("<div class='row'><div id='36Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#36 #36Quantity").remove();
        }
      });

      $('#37 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#37 .col-md-6").append("<div class='row'><div id='37Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#37 #37Quantity").remove();
        }
      });

      $('#38 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#38 .col-md-6").append("<div class='row'><div id='38Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#38 #38Quantity").remove();
        }
      });

      $('#39 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#39 .col-md-6").append("<div class='row'><div id='39Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#39 #39Quantity").remove();
        }
      });

      $('#40 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#40 .col-md-6").append("<div class='row'><div id='40Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#40 #8XLQuantity").remove();
        }
      });

      $('#41 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#41 .col-md-6").append("<div class='row'><div id='41Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#41 #41Quantity").remove();
        }
      });

      $('#42 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#42 .col-md-6").append("<div class='row'><div id='42Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#42 #42Quantity").remove();
        }
      });

      $('#43 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#43 .col-md-6").append("<div class='row'><div id='43Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#43 #43Quantity").remove();
        }
      });

      $('#44 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#44 .col-md-6").append("<div class='row'><div id='44Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#44 #44Quantity").remove();
        }
      });

      $('#45 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#45 .col-md-6").append("<div class='row'><div id='45Quantity' ><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#45 #45Quantity").remove();
        }
      });

      $('#46 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#46 .col-md-6").append("<div class='row'><div id='46Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#46 #46Quantity").remove();
        }
      });

      $('#47 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#47 .col-md-6").append("<div class='row'><div id='47Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#47 #47Quantity").remove();
        }
      });
      
      $('#48 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#48 .col-md-6").append("<div class='row'><div id='48Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#48 #48Quantity").remove();
        }
      });

      $('#49 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#49 .col-md-6").append("<div class='row'><div id='49Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#49 #49Quantity").remove();
        }
      });

      $('#50 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#50 .col-md-6").append("<div class='row'><div id='50Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#50 #50Quantity").remove();
        }
      });

      $('#51 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#51 .col-md-6").append("<div class='row'><div id='51Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#51 #51Quantity").remove();
        }
      });

      $('#52 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#52 .col-md-6").append("<div class='row'><div id='52Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#52 #52Quantity").remove();
        }
      });

      $('#53 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#53 .col-md-6").append("<div class='row'><div id='53Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#53 #53Quantity").remove();
        }
      });

      $('#54 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#54 .col-md-6").append("<div class='row'><div id='54Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#54 #54Quantity").remove();
        }
      });

      $('#55 :checkbox').click(function() {
        var $this = $(this);
        // $this will contain a reference to the checkbox   
        if ($this.is(':checked')) {
            $("#55 .col-md-6").append("<div class='row'><div id='55Quantity' class='col-xs-6 col-xs-offset-2'><input class='form-control' placeholder='8XL' type='text'></div></div>")
        } else {
            $("#55 #55Quantity").remove();
        }
      });

      //- End 1  2   3  4   5   6   7 ...........   50


    });
