extends layout
block dashBord
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header  Admins Manger
            small  Show Admin
          ol.breadcrumb
            li
              i.fa.fa-dashboard
              a(href='/adminPage')  Dashboard
            li.active
              i.fa.fa-user  Show Admin
      // Show Admins Started
      .panel.panel-default
        .panel-heading
          .row
            .col-xs-2.col-md-2
              h2.panel-title 
                strong  List of Admins
            .col-xs-5.col-md-6
              form(role='search')
                .form-group.input-group
                  input.form-control(type='text', placeholder='Search by name')
                  span.input-group-addon
                    i.glyphicon.glyphicon-search
            .col-xs-3.col-md-2
              a.btn.btn-success(href='#newCitie', role='button',data-toggle='modal')
                span.glyphicon.glyphicon-plus
                |  Add Admin
            .col-xs-2.col-md-2 
              button.btn.btn-primary
                i.glyphicon.glyphicon-print
                |  Print 
        .panel-body
          .table-responsive
            table.table.table-striped.table-condensed
              thead
                tr
                  th Admin Username
                  th Admin Name
                  th Date Added
                  th Role
                  th Status
                  th.text-center Remove
              tbody
                for user in users
                  tr
                    td #{user.username}
                    td #{user.name}
                    td #{user.dateadded}
                    td Admin
                    td
                      case user.status
                        when 1
                          - var att="success"
                          - var attName="Active"
                        when 2 
                          - var att="danger"
                          - var attName="Banned"
                        when 3 
                          - var att="default"
                          - var attName="Inactive"
                        when 4 
                          - var att="warning"
                          - var attName="Pending"
                        when 5 
                          - var att="info"
                          - var attName="Info"
                        when 6 
                          - var att="primary"
                          - var attName="Root"
                      span.label(class="label-#{att}") #{attName}
                    td.text-center
                      button#delete.btn.btn-danger.btn-xs(href='#del', data-placement='top', title='Remove Admin')
                        span.glyphicon.glyphicon-remove
                  //- tr
                  //-   td Emily F. Burns
                  //-   td 2011/12/01
                  //-   td Staff
                  //-   td
                  //-     span.label.label-danger Banned
                  //-   td.text-center
                  //-     button#delete.btn.btn-danger.btn-xs(href='#del', data-placement='top', title='Remove Admin')
                  //-       span.glyphicon.glyphicon-remove
                  //- tr
                  //-   td Andrew A. Stout
                  //-   td 2010/08/21
                  //-   td User
                  //-   td
                  //-     span.label.label-default Inactive
                  //-   td.text-center
                  //-     button#delete.btn.btn-danger.btn-xs(href='#del', data-placement='top', title='Remove Admin')
                  //-       span.glyphicon.glyphicon-remove
                  //- tr
                  //-   td Mary M. Bryan
                  //-   td 2009/04/11
                  //-   td Editor
                  //-   td
                  //-     span.label.label-warning Pending
                  //-   td.text-center
                  //-     button#delete.btn.btn-danger.btn-xs(href='#del', data-placement='top', title='Remove Admin')
                  //-       span.glyphicon.glyphicon-remove
                  //- tr
                  //-   td Mary A. Lewis
                  //-   td 2007/02/01
                  //-   td Staff
                  //-   td
                  //-     span.label.label-success Active
                  //-   td.text-center
                  //-     button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='tooltip', data-placement='top', title='Remove Admin')
                  //-       span.glyphicon.glyphicon-remove
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/metisMenu/dist/metisMenu.min.js')
  script(src='/js/sb-admin-2.js') 
    